<footer class="bg-primary text-white text-center py-3 footer">
    Vikram Singh &copy; 2023
  </footer>
  <script src="https://kit.fontawesome.com/0d0f6cb0dc.js" crossorigin="anonymous"></script>
</body>
</html>